<!DOCTYPE html>
<html lang="ja">
<head>
    <!-- ドキュメント互換モードを対応設定 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 文字コードをUTF-8(BOM無し)に設定 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- スタイルシートの使用を設定 -->
    <meta http-equiv="Content-Style-Type" content="text/css">
    <!-- javascriptの使用を設定 -->
    <meta http-equiv="Content-Script-Type" content="text/javascript">

	<title>__PAGE_TITLE__</title>

    <link rel="stylesheet" href="__CSS_FILE_PATH__" />
    <script src="__JS_FILE_PATH__"></script>
</head>

<body>
</body>
</html>
